Q1. Using Python script as a calculator -->
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
>ð´ = ð‘ (1 + ð‘Ÿ/ 100)n
1. 100
2. 162.89
3. 189
4. None of the above -->

In [7]:
n=10
r=5
p=100

In [8]:
A = p*(1 + (r/100))**n
print(A)


#Ans - b. 162.89

162.8894626777442

Q2. In a given string format operation, how will you print the given string.
- A = 10
- B = 20

Str = "There are {} students in the class, with {} who play at least one sport."
1. print(string.format(a,b))
2. print(string+a+b)
3. print(string.format(b,a))
4. None of the above

In [16]:
#  Using format() function to replace placeholders with arguments{}


a=10
b=20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(b,a))


#Ans- c. print(string.format(b,a))

There are 20 students in the class, with 10 who play at least one sport.

Q3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
 
 >Sample output = It goes without saying, â€œTime is Moneyâ€, and none can deny it.

1. print(â€œIt goes without saying, \â€œTime is Money\â€, and none can deny it.â€)
2. print(â€œIt goes without saying, \Time is Money\, and none can deny it.â€)
3. print(â€œIt goes without sayingâ€ + â€œTime is Moneyâ€ + â€œand none can deny it.â€)
4. None of the above. -->

In [21]:
print("It goes without saying,\"Time is Money\",and none can deny it. ")

# BEFORE \" quote escape character use interpreter easily understand quote is part of string ,ALSO AT the end \" after 
# escape character use interpreter understrand \ escape char will not close permanently string.


#Ans - A. print("It goes without saying,\"Time is Money\",and none can deny it. ")

It goes without saying,"Time is Money",and none can deny it.

Q4. What will be the output of the following code?
>x = lambda a,b: a//b   # FLOOR DIVISION CALCULATION  APPLY
x(10,3)
1. 3.3333333333
2. 3
3. 30
4. 1000

In [23]:
x =  lambda a,b : a//b
x(10,3)


#Ans - b. 3

3

Q5. What will be the output of the following code?
- A = 10
- B = 12

print("Smaller") if A == B else print("Greater") if A < B else print("True")
1. True
2. Smaller
3. Greater
4. None of the above

In [22]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")


#Ans - c. Greater

Greater

Q6. What will be the output of the following code?

import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1, dtype=int)
print(arr_1)

1. [2 7 3 5 4 6]
2. TypeError
3. NameError: name 'numpy' is not defined
4. None of the above

In [27]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1, dtype=int)
print(arr_1)


#Ans- a. [2 7 3 5 4 6]

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

Q7. Create a string called â€˜stringâ€™ with the value as â€œMachine Learningâ€. Which code(s)
is/are appropriate to slice the substring â€œLearnâ€?
1. string[slice(13,8,1)]
2. string[slice(1,8,1)]
3. string[8:14]
4. string[slice(8,13,1)]

In [40]:
string = 'Machine Learning'
print(string[slice(8,13,1)])   # 8 start index 13 stop index 1 step ...


#Ans - d. string[slice(8,13,1)]

Learn

Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
1. 3
2. 2
3. 0
4. 1

In [51]:
seq = list(range(10,25,4))
index = seq.index(18)
print(seq)
print(index)


#Ans - b. 2

[10, 14, 18, 22]
2

Q9. Which of the following is true with respect to the below codes?

In [54]:
# num1 = 5**4
# num2 = pow(5,4)
# print(num1,num2)

1. num1 = num2
2. num1 â‰  num2
3. num1 < num2
4. num1 > num2

In [53]:
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)


#Ans -  a. num1=num2

625 625

Q10.A Python NameError exception is raised when: -
1. Trying to access a variable which has not been defined
2. Trying to access a key in a dictionary that does not exist
3. Accessing a column with misspelled column name
4. Accessing the function from a module that has not been imported

In [31]:
#Ans - a. Trying to access a variable which has not been defined

Q11.What type of exception will be raised for the code given below?

In [71]:
# x = 'string'
# int(x)
# print(value)

1. NameError
2. KeyError
3. ValueError
4. AttributeError

In [72]:
x = 'string'
int(x)

print(x)
#Ans -  c. ValueError

ValueError: invalid literal for int() with base 10: 'string'

Q12.A FileNotFoundError exception is raised by operating system errors when: -
1. Trying to create a file or directory which already exists
2. A file or directory is requested but does not exist in the working directory
3. Trying to run an operation without the adequate access rights
4. A directory operation, os.listdir() is requested on something which is not a directory

In [33]:
# b. A file or directory is requested but does not exist in the working directory

Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
1. Complex
2. Character
3. Integer
4. Boolean

In [73]:
Z = "ID-5632"

print(type(Z))   #str dtype is character


#Ans - b. Character

<class 'str'>

Q14.Which of the following variable(s) are character data type?
1. K= â€œ4â€
2. J= â€œWelcomeâ€
3. L= â€œ?â€
4. All of the above

In [41]:
#Ans - d. All of the above

Q15.Choose the symbol/s that does not have the ability to convert any values to string?
1. ( )
2. â€œ â€
3. {}
4. #

In [86]:
#  these symbols are use for define code not use for conversion

#Ans - d.#  ---  eg:- () : use for tupple("","") & str("") ,"" : - sting "Hello", dict : -{"shyam"} ,  # use for comment ...

Q16.Create a dictionary â€˜Countryâ€™ that maps the following countries to their capitals
respectively:

- Country India China Japan Qatar France
- State Delhi Beijing Tokyo Doha Marseilles


Find 2 commands to replace â€œMarseillesâ€ with â€œParisâ€ is:

In [89]:
Country={'India':'Delhi' , 'China':'Beijing' , 'Japan':'Tokyo' , 'Qatar':'Doha' , 'France':'Marseilles'}
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}

In [90]:
# First Way
Country['France']='Paris'
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [50]:
# Second Way
Country.update({'France': 'Paris'})
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

 Q17. Create the tuples given below
- tuple_1 = (1,5,6,7,8)
- tuple_2 = (8,9,4)
- Identify which of the following code does not work on a tuple.
1. sum(tuple_1)
2. len(tuple_2)
3. tuple_2 + tuple_1
4. tuple_1[3] = 45
 -->

In [104]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

print(sum(tuple_1)) # sum no of value
print(len(tuple_2)) # define length of no of value 
print(tuple_2 + tuple_1) # concatenate 2 + 1
# tuple_1[3] = 45   # it will not work because tuple is the immutable dat type.


#Ans - d. tuple_1[3] = 45

27
3
(8, 9, 4, 1, 5, 6, 7, 8)

Q18. How many elements in the following data structure?
>S={1,2,3,4,4,4,5,6}

In [115]:
S={1,2,3,4,4,4,5,6}


print("Number of elements:",len(S))

Number of elements: 6

Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [9]:
def pyTriplets(N):
    triplets = []
    
    for a in range(1, N+1):
        for b in range(a, N+1):
            c_square = a**2 + b**2
            c = int(c_square**0.5)
            
            if c_square == c**2 and c <= N:
                triplets.append((a, b, c))
    
    return triplets

#  a2 + b2 = c2 ------pythagorean trplet function(pytriplet)  c = hypotenuse length, a & b = shorter length..

In [10]:
pyTriplets(5)

[(3, 4, 5)]

In [31]:
def pyTriplets(N):
    
    triplets = []
    
    for a in range(1,N+1):
        for b in range(a,N+1):
            c_square = a**2 + b**2
            c = int(c_square**0.5)
            
            if c_square ==c**2 and c <= N:
                triplets.append((a,b,c))
                
    return triplets

In [32]:
pyTriplets(5)

[(3, 4, 5)]